apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: example-deployment
spec:
  selector:
    matchLabels:
      app: example
  replicas: 1
  template:
    metadata:
      labels:
        app: example
    spec:
      containers:
      - name: example-server
        image: zarvis/example-go
        imagePullPolicy: IfNotPresent
